# ----------------------------------------------------------------------------------------------
# Git Ignores @see https://github.com/github/gitignore
# ----------------------------------------------------------------------------------------------

# Application Specific
# ----------------------------------------------------------------------------------------------
*.zip

# Bower / Node / Grunt / SASS
# ----------------------------------------------------------------------------------------------
node_modules
build
